<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="displayjobs">
        <div th:if="${jobs}">
            <h3>Results:</h3>
            <table class="job-listing" th:each="job, idx : ${jobs}" >
                <tr th:each="item : ${job}" th:class="${idx.odd} ? 'odd'" >
                    <td th:text="${item.key}"</td>
                    <td th:text="${item.value}"</td>
                </tr>

            </table>
        </div>
    </div>

</body>
</html>